.trigger {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.content {
  background: #141233;
  border-radius: 10px;
  padding: 8px 12px;
}

.title {
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 2px;
}

.message {
  font-size: 12px;
  color: #fff;
}
