/* RetaylTagInputStyles.css */
.container {
  padding: 0;
}

.inputContainer {
  flex: 1;
}

.input {
  padding: 12px 10px;
  /* padding-horizontal: 10px; */
  font-family: 'FONTFAMILY.regular'; /* Adjust as needed */
  font-size: 14px;
}

.suggestionsContainer {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  max-height: 150px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1000;
  overflow: hidden; /* Hide scrollbar */
}

.suggestionItem {
  padding: 10px;
}

.suggestionText {
  color: #333;
}

.tagScrollView {
  flex: 1;
}

.tagContainer {
  flex-direction: row;
  width: auto;
}

.tag {
  background-color: #d3d3d3; /* Adjust as needed */
  border-radius: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 8px;
  margin-bottom: 8px;
  flex-direction: row;
  align-items: center;
}

.tagText {
  font-family: 'FONTFAMILY.medium'; /* Adjust as needed */
  font-size: 14px;
}

.tagRemove {
  margin-left: 8px;
}

.addNewGroupContainer {
  padding: 10px;
  border-bottom-width: 1px;
  border-color: #eee;
}

.addNewGroupContent {
  flex-direction: row;
  align-items: center;
}

.addNewGroupText {
  margin-left: 8px;
  color: #007bff; /* Adjust as needed */
  font-family: 'FONTFAMILY.medium'; /* Adjust as needed */
  font-size: 14px;
}
